
.Container-Modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    z-index: 1;
    background-color: rgb(0,0,0, .7);
}


.Modal-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}   


.Modal-item h1{
    font-size: 1.8em;
    background-color: black;
    color: red;

}

@media (max-width:400px){

    .Modal-item{
        width: 90%;

    }
    .Modal-item h1{
        font-size: 1.3em;
    }
}


